<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title - The Official Home of YIFY Movies Torrent Download - YTS</title>
    
    <link rel="short icon" href="app/assets/images/image/short_icon.png">
    <link rel="stylesheet" href="app/assets/stylesheets/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <section>

        <nav>

            <div class="left_warpper">
            <img src="<%= asset_path('image/logo-YTS.svg') %>">
                
                <p>HD movies at the smallest file size.</p>
            </div>

            <div class="right_warpper">

                <div class="search_bar">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Quick search">
                </div>

                <!--  
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#" class="active">4K</a></li>
                    <li><a href="#">Trending</a></li>
                    <li><a href="#">Browse Movies</a></li>
                </ul>
                -->

                <div class="login">
                    <p>Login</p>
                    <p class="down">|</p>
                    <p>Register</p>
                </div>

            </div>

        </nav>



        <div class="main">

            <h1>Download YTS YIFY movies: HD smallest size</h1>
            <p>
                Welcome to the official YTS.MX (.LT) website.
                Here you can browse and download YIFY movies in excellent 720p,
                1080p, 2160p 4K and 3D quality, all at the smallest file size.
                YTS Movies Torrents.
            </p>
           

        </div>
<hr>

 
<div class="movies_box">

    <% 5.times do %>
        <div class="movies_card">
            <div class="movies_image">
                <div class="hover">
                    <i class="fa-solid fa-star"></i>
                    <p class="rate">8.5/10</p>
                    <p class="categories">Action</p>
                    <p class="categories">Drama</p>
                    <a href="#" class="btn">View Details</a>
                </div>
                <%= image_tag 'image/Top_Gun.jpg' , alt: 'Top Gun: Maverick Poster' %>
            </div>
            <div class="text">
                <p class="name">
                <p class="name">Top Gun:Maverick</p>
                   
                </p>
                <p class="year">2022</p>
            </div>
        </div>

        <% end %>
</div>




        <div class="movies_box">

            <div class="movies_card">

                <div class="movies_image">
                    <div class="hover">
                        <i class="fa-solid fa-star"></i>
                        <p class="rate">8.5/10</p>
                        <p class="categories">Action</p>
                        <p class="categories">Drama</p>
                        <a href="#" class="btn">View Details</a>
                    </div>

                    <%= image_tag 'image/Top_Gun.jpg', alt: 'Top Gun: Maverick Poster' %>

                </div>

                <div class="text">
                    <p class="name">Top Gun:Maverick</p>
                    <p class="year">2022</p>
                </div>

            </div>

            <div class="movies_card">

                <div class="movies_image">
                    <div class="hover">
                        <i class="fa-solid fa-star"></i>
                        <p class="rate">7.9/10</p>
                        <p class="categories">Action</p>
                        <p class="categories">Crime</p>
                        <a href="#" class="btn">View Details</a>
                    </div>

                    <%= image_tag 'image/the_batman.jpg' %>

                </div>

                <div class="text">
                    <p class="name">The Batman</p>
                    <p class="year">2022</p>
                </div>

            </div>

            <div class="movies_card">

                <div class="movies_image">
                    <div class="hover">
                        <i class="fa-solid fa-star"></i>
                        <p class="rate">6.5/10</p>
                        <p class="categories">Action</p>
                        <p class="categories">Adventure</p>
                        <a href="#" class="btn">View Details</a>
                    </div>

                    <%= image_tag 'image/thor.jpg' %>

                </div>

                <div class="text">
                    <p class="name">Thor: Love and Thunder</p>
                    <p class="year">2022</p>
                </div>

            </div>

            <div class="movies_card">

                <div class="movies_image">
                    <div class="hover">
                        <i class="fa-solid fa-star"></i>
                        <p class="rate">6.6/10</p>
                        <p class="categories">Adventure</p>
                        <p class="categories">Animation</p>
                        <a href="#" class="btn">View Details</a>
                    </div>

                    <%= image_tag 'image/Minions.webp' %>

                </div>

                <div class="text">
                    <p class="name">Minions: The Rise of Gru</p>
                    <p class="year">2022</p>
                </div>

            </div>



            <div class="movies_card">

                <div class="movies_image">
                    <div class="hover">
                        <i class="fa-solid fa-star"></i>
                        <p class="rate">10/10</p>
                        <p class="categories">Adventure</p>
                        <p class="categories">Action</p>
                        <a href="#" class="btn">View Details</a>
                    </div>

                    <%= image_tag 'image/mission.jpeg' %>

                </div>

                <div class="text">
                    <p class="name">Mission impossible</p>
                    <p class="year">2023</p>
                </div>

            </div>



        </div>


        <hr>


        <div class="movies_box">

            <div class="movies_card">

                <div class="movies_image">
                    <div class="hover">
                        <i class="fa-solid fa-star"></i>
                        <p class="rate">6.5/10</p>
                        <p class="categories">Action</p>
                        <p class="categories">Drama</p>
                        <a href="#" class="btn">View Details</a>
                    </div>

                   
                    <%= image_tag 'image/jungle.jpeg' %>
                </div>

                <div class="text">
                    <p class="name">The jungle</p>
                    <p class="year">2022</p>
                </div>

            </div>

            <div class="movies_card">

                <div class="movies_image">
                    <div class="hover">
                        <i class="fa-solid fa-star"></i>
                        <p class="rate">9.9/10</p>
                        <p class="categories">Action</p>
                        <p class="categories">Suspense</p>
                        <a href="#" class="btn">View Details</a>
                    </div>

                    <%= image_tag 'image/avatar.jpeg' %>

                </div>

                <div class="text">
                    <p class="name">Avatar</p>
                    <p class="year">2023</p>
                </div>

            </div>

            <div class="movies_card">

                <div class="movies_image">
                    <div class="hover">
                        <i class="fa-solid fa-star"></i>
                        <p class="rate">6.5/10</p>
                        <p class="categories">Action</p>
                        <p class="categories">Adventure</p>
                        <a href="#" class="btn">View Details</a>
                    </div>

                    <%= image_tag 'image/scream.jpg' %>

                </div>

                <div class="text">
                    <p class="name">Thor: Love and Thunder</p>
                    <p class="year">2022</p>
                </div>

            </div>

            <div class="movies_card">

                <div class="movies_image">
                    <div class="hover">
                        <i class="fa-solid fa-star"></i>
                        <p class="rate">6.6/10</p>
                        <p class="categories"> Horror</p>
                        <p class="categories">Animation</p>
                        <a href="#" class="btn">View Details</a>
                    </div>

                    <%= image_tag 'image/horror.jpeg' %>

                </div>

                <div class="text">
                    <p class="name">Haunted Mansion</p>
                    <p class="year">2021</p>
                </div>

            </div>



            <div class="movies_card">

                <div class="movies_image">
                    <div class="hover">
                        <i class="fa-solid fa-star"></i>
                        <p class="rate">10/10</p>
                        <p class="categories">Adventure</p>
                        <p class="categories">Action</p>
                        <a href="#" class="btn">View Details</a>
                    </div>

                    
                    <%= image_tag 'image/anabella.jpg' %>

                </div>

                <div class="text">
                    <p class="name">Anabella</p>
                    <p class="year">2023</p>
                </div>

            </div>



        </div>


        <hr>


        <div class="movies_box">

            <div class="movies_card">

                <div class="movies_image">
                    <div class="hover">
                        <i class="fa-solid fa-star"></i>
                        <p class="rate">6.5/10</p>
                        <p class="categories">Action</p>
                        <p class="categories">Drama</p>
                        <a href="#" class="btn">View Details</a>
                    </div>

                    <%= image_tag 'image/jungle.jpeg' %>

                </div>

                <div class="text">
                    <p class="name">The jungle</p>
                    <p class="year">2022</p>
                </div>

            </div>

            <div class="movies_card">

                <div class="movies_image">
                    <div class="hover">
                        <i class="fa-solid fa-star"></i>
                        <p class="rate">9.9/10</p>
                        <p class="categories">Action</p>
                        <p class="categories">Suspense</p>
                        <a href="#" class="btn">View Details</a>
                    </div>

                    <%= image_tag 'image/avatar.jpeg' %>

                </div>

                <div class="text">
                    <p class="name">Avatar</p>
                    <p class="year">2023</p>
                </div>

            </div>

            <div class="movies_card">

                <div class="movies_image">
                    <div class="hover">
                        <i class="fa-solid fa-star"></i>
                        <p class="rate">6.5/10</p>
                        <p class="categories">Action</p>
                        <p class="categories">Adventure</p>
                        <a href="#" class="btn">View Details</a>
                    </div>

                    <%= image_tag 'image/scream.jpg' %>

                </div>

                <div class="text">
                    <p class="name">Thor: Love and Thunder</p>
                    <p class="year">2022</p>
                </div>

            </div>

            <div class="movies_card">

                <div class="movies_image">
                    <div class="hover">
                        <i class="fa-solid fa-star"></i>
                        <p class="rate">6.6/10</p>
                        <p class="categories"> Horror</p>
                        <p class="categories">Animation</p>
                        <a href="#" class="btn">View Details</a>
                    </div>

                    <%= image_tag 'image/horror.jpeg' %>

                </div>

                <div class="text">
                    <p class="name">Haunted Mansion</p>
                    <p class="year">2021</p>
                </div>

            </div>



            <div class="movies_card">

                <div class="movies_image">
                    <div class="hover">
                        <i class="fa-solid fa-star"></i>
                        <p class="rate">10/10</p>
                        <p class="categories">Adventure</p>
                        <p class="categories">Action</p>
                        <a href="#" class="btn">View Details</a>
                    </div>

                    <%= image_tag 'image/anabella.jpg' %>

                </div>

                <div class="text">
                    <p class="name">Anabella</p>
                    <p class="year">2023</p>
                </div>

            </div>



        </div>



        <hr>

        <div class="movies_box">

            <div class="movies_card">

                <div class="movies_image">
                    <div class="hover">
                        <i class="fa-solid fa-star"></i>
                        <p class="rate">8.5/10</p>
                        <p class="categories">Action</p>
                        <p class="categories">Drama</p>
                        <a href="#" class="btn">View Details</a>
                    </div>

                    <%= image_tag 'image/Top_Gun.jpg' %>

                </div>

                <div class="text">
                    <p class="name">Top Gun:Maverick</p>
                    <p class="year">2022</p>
                </div>

            </div>

            <div class="movies_card">

                <div class="movies_image">
                    <div class="hover">
                        <i class="fa-solid fa-star"></i>
                        <p class="rate">7.9/10</p>
                        <p class="categories">Action</p>
                        <p class="categories">Crime</p>
                        <a href="#" class="btn">View Details</a>
                    </div>

                    <%= image_tag 'image/the_batman.jpg' %>

                </div>

                <div class="text">
                    <p class="name">The Batman</p>
                    <p class="year">2022</p>
                </div>

            </div>

            <div class="movies_card">

                <div class="movies_image">
                    <div class="hover">
                        <i class="fa-solid fa-star"></i>
                        <p class="rate">6.5/10</p>
                        <p class="categories">Action</p>
                        <p class="categories">Adventure</p>
                        <a href="#" class="btn">View Details</a>
                    </div>

                    <%= image_tag 'image/thor.jpg' %>

                </div>

                <div class="text">
                    <p class="name">Thor: Love and Thunder</p>
                    <p class="year">2022</p>
                </div>

            </div>

            <div class="movies_card">

                <div class="movies_image">
                    <div class="hover">
                        <i class="fa-solid fa-star"></i>
                        <p class="rate">6.6/10</p>
                        <p class="categories">Adventure</p>
                        <p class="categories">Animation</p>
                        <a href="#" class="btn">View Details</a>
                    </div>

                    <%= image_tag 'image/Minions.webp' %>

                </div>

                <div class="text">
                    <p class="name">Minions: The Rise of Gru</p>
                    <p class="year">2022</p>
                </div>

            </div>



            <div class="movies_card">

                <div class="movies_image">
                    <div class="hover">
                        <i class="fa-solid fa-star"></i>
                        <p class="rate">10/10</p>
                        <p class="categories">Adventure</p>
                        <p class="categories">Action</p>
                        <a href="#" class="btn">View Details</a>
                    </div>

                    <%= image_tag 'image/mission.jpeg' %>

                </div>

                <div class="text">
                    <p class="name">Mission impossible</p>
                    <p class="year">2023</p>
                </div>

            </div>



        </div>

        <div class="add">

            <div class="add_box">

                <div class="add_card">

                    <div class="add_img">
                        <%= image_tag 'image/add_1.jpeg' %>
                    </div>

                    <h3>Hot Deals Up To 60% Off</h3>
                    <p>Create the ultimate Shopping list</p>

                </div>

                <div class="add_card">

                    <div class="add_img">
                        
                        <%= image_tag 'image/add_2.jpeg' %>
                    </div>

                    <h3>Recommended For You -63%...</h3>
                    <p>Shop now</p>

                </div>

                <div class="add_card">

                    <div class="add_img">
                        
                        <%= image_tag 'image/add_3.jpeg' %>
                    </div>

                    <h3>Best AliExpress Finds</h3>
                    <p>Enjoy deals up to 60% OFF</p>

                </div>

                <div class="add_card">

                    <div class="add_img">
                        
                        <%= image_tag 'image/add_4.jpeg' %>
                    </div>

                    <h3>NEW DEALS ARE HERE!</h3>
                    <p>Best items from AliExpress</p>

                </div>

            </div>

        </div>

    </section>




</body>

</html>