<h1> Edit Movies</h1>

<%= form_for(:film, url: film_path(@movie), method: :patch,multipart: true)do |f| %>

  <% if @movie.errors.any? %>
    <% @movie.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"> <%= msg %> </div>
    <% end %>
  <% end %>


  <%= f.label :title %>
  <%= f.text_field :title, value: @movie.title %>
  <br><br>
  <%= f.label :year %>
  <%= f.number_field :year, value: @movie.year %>
  <br><br>
  <%= f.label :genre %>
  <%= f.text_field :genre , value: @movie.genre%>
  <br><br>
  <%= f.label :rating %>
  <%= f.number_field :rating , value: @movie.rating %>
  <br><br>
  <%= f.file_field :movie ,multiple: true%>
  <% if @movie.movie.present? %>
    <p>Current File: <%= image_tag(@movie.movie.url, style:'width:5%') %></p>

  <% end %>
  <br><br>
  <%= f.submit %>
<% end %>
