<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>title - The Official Home of YIFY Movies Torrent Download - YTS</title>

  <link rel="short icon" href="app/assets/images/image/short_icon.png">
  <link rel="stylesheet" href="app/assets/stylesheets/style.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

<nav>
  <%= form_tag(root_path, method: :get) do %>
    <%= label_tag :movie_id, 'Enter Movie ID:' %>
    <%= text_field_tag :movie_id %>
    <%= submit_tag 'Search' %>
  <% end %>
</nav>

<hr>

<%= link_to "Add Movie To Database",  films_new_path   %>
<% if !flash[:notice].blank? %>
  <%= flash[:notice] %>
<% end %>
<br>

<caption><h1>Movies From Database</h1></caption>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>#</th>
    <th>Rating</th>
    <th>Genre</th>
    <th>Year</th>
    <th>Title</th>
    <th>View Details</th>
    <th scope="col">Image</th>
  </tr>
  </thead>
  <tbody>
  <% if @films.empty? %>
    <tr>
      <td colspan="6">No movies found in the database.</td>
    </tr>
  <% else %>
    <% @films.each_with_index do |film, index| %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= film.rating %></td>
        <td><%= film.genre %></td>
        <td><%= film.year %></td>
        <td><%= film.title %></td>
        <td><%= link_to "View Details", film_path(film), :class => 'btn btn-primary'  %></td>
        <td><img src="<%= film.images.first.picture.url %>" style="max-width: 50px; max-height: 100px;" alt="Movie Image"></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
<hr>

<caption><h1>Movies From Api</h1></caption>
<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Release Date</th>
    <th scope="col">Vote Average</th>
    <th scope="col">Genres</th>
    <th scope="col">Poster</th>
  </tr>
  </thead>
  <tbody>
  <% @movie_detail.in_groups_of(5, false) do |row| %>
    <% row.compact.each_with_index do |movie, index| %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= movie['title'] %></td>
        <td><%= movie['release_date'] %></td>
        <td><%= movie['vote_average'] %></td>
        <td><%= movie['genres'] %></td>
        <td style="max-width: 50px;"><%= image_tag movie['poster_path'], style: "max-width: 100%; height: auto;" %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
</body>

</html>





