<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>title - The Official Home of YIFY Movies Torrent Download - YTS</title>

  <link rel="short icon" href="app/assets/images/image/short_icon.png">
  <link rel="stylesheet" href="app/assets/stylesheets/style.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<nav>
  <%= form_tag(root_path, method: :get) do %>
    <%= label_tag :movie_id, 'Enter Movie ID:' %>
    <%= text_field_tag :movie_id %>
    <%= submit_tag 'Search' %>
  <% end %>
</nav>

<hr>

<%= link_to "Add Movie To Database",  films_new_path   %>
<% if !flash[:notice].blank? %>
  <%= flash[:notice] %>
<% end %>
<br>


<caption><h1>Movies From Database</h1></caption>
<div class="table-container">
<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">No</th>
    <th scope="col">Rating</th>
    <th scope="col">Genre</th>
    <th scope="col">Yts_Id</th>
    <th scope="col">Api_Id</th>
    <th scope="col">Year</th>
    <th scope="col">Title</th>
    <th scope="col">View Details</th>
    <th scope="col">Image</th>
  </tr>
  </thead>
  <tbody>
  <% if @films.empty? %>
  <% else %>
    <% @films.each_with_index do |film, index| %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= film.rating %></td>
        <td><%= film.genre %></td>
        <td><%= film.id %></td>
        <td><%= film.rapid_id %></td>
        <td><%= film.year %></td>
        <td><%= film.title %></td>
        <td><%= link_to "View Details", film_path(film), :class => 'btn btn-primary'  %></td>
        <td><img src="<%= film.images.first.picture.url %>" style="max-width: 30px; max-height: 100px;" alt="Movie Image"></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
<hr>
</div>

<hr>

<caption><h1>Movies From Api</h1></caption>
<div class="table-container">
<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">No</th>
    <th scope="col">Title</th>
    <th scope="col">Release Date</th>
    <th scope="col">Vote Average</th>
    <th scope="col">Genres</th>
    <th scope="col">Poster</th>
  </tr>
  </thead>
  <tbody>
  <% @movie_detail.in_groups_of(5, false) do |row| %>
    <% row.compact.each_with_index do |movie, index| %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= movie['title'] %></td>
        <td><%= movie['release_date'] %></td>
        <td><%= movie['vote_average'] %></td>
        <td><%= movie['genres'] %></td>
        <td><%= image_tag movie['poster_path'], style: "max-width: 30px; height: auto;" %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
<hr>
</div>

<hr>
<caption><h1>New Movies From Api except Database</h1></caption>
<div class="table-container">
<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">No</th>
    <th scope="col">Title</th>
    <th scope="col">Release Date</th>
    <th scope="col">Vote Average</th>
    <th scope="col">Genres</th>
    <th scope="col">Image</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @new_movies.in_groups_of(5, false) do |row| %>
    <% row.compact.each_with_index do |movie, index| %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= movie['title'] %></td>
        <td><%= movie['release_date'] %></td>
        <td><%= movie['vote_average'] %></td>
        <td><%= movie['genres'] %></td>
        <td><%= image_tag movie['poster_path'], style: 'max-width: 30px; height: auto;' %></td>
        <td>
          <%= form_with(url: add_movie_path(movie_id: movie['_id']), method: :post) do |f| %>
            <%= f.hidden_field :title, value: movie['title'] %>
            <%= f.hidden_field :rating, value: movie['vote_average'] %>
            <%= f.hidden_field :genre, value: movie['genres'] %>
            <%= f.hidden_field :year, value: movie['release_date'] %>
            <%= f.hidden_field :picture, value: movie['poster_path'] %>
            <%= f.submit 'Add to Database', class: 'btn' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
</div>
</body>

</html>






