<h1>Create New Movies</h1>

<%= form_for(:film, url: films_path) do |f| %>


  <%= f.label :title %>
  <%= f.text_field :title %>
<br><br>
  <%= f.label :year %>
  <%= f.number_field :year %>
<br><br>
  <%= f.label :genre %>
  <%= f.text_field :genre %>
<br><br>
  <%= f.label :rating %>
  <%= f.number_field :rating %>
<br><br>
  <%= f.submit %>
<% end %>
