
<% if !flash[:notice].blank? %>
  <%= flash[:notice] %>
<% end %>

<h2>Title:<%=@movie.title%></h2>
<p>Year:<%=@movie.year%></p>
<p>Genre:<%=@movie.genre%></p>
<p>Rating:<%=@movie.rating%></p>

<% @image_attachments.each do |image| %>
  <%= image_tag image.picture.url ,  style:'width:15%'%>
<% end %>

<%= link_to "Edit", edit_film_path(@movie) %>
<%= link_to "Delete", film_path(@movie), method: :delete, data: {confirm:'Are you sure?'} %>
<br><br>
<%= link_to "Back To Index", films_index_path %>

<h1>Search Api Movies</h1>
<%= form_tag(root_path, method: :get) do %>
  <%= label_tag :movie_id, 'Enter Movie ID:' %>
  <%= text_field_tag :movie_id %>
  <%= submit_tag 'Search' %>
<% end %>

