
<% if !flash[:notice].blank? %>
    <%= flash[:notice] %>
<% end %>

<%#if @movie.movie.attached? %>
<!--  <image src="<%#=(url_for(@movie.movie)) %>">-->
    <%#end %>

<%#= image_tag(@movie.movie, style:'width:20%') %>
<img src = "<%= @movie.movie %>">

 <h2><%=@movie.title%></h2>
  <p><%=@movie.year%></p>
  <p><%=@movie.genre%></p>
   <p><%=@movie.rating%></p>



  <%= link_to "Edit", edit_film_path(@movie) %>
<%= link_to "Delete", film_path(@movie), method: :delete, data: {confirm:'Are you sure?'} %>
<br><br>
<%= link_to "Back To Index", films_index_path %>